# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.dSYM
*.o
*.d
*.mtb
*.a
*.dpp

# Test binary, built with `go test -c`
*.test

# Perf output
*.pprog

# Output for pprof
*.prof
*.pprof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Test data
coverage.txt
*.las
*.pcd

*~
*#
*.#*
*.DS_Store
*.swp

# act
.secrets

/data*
out/
.idea/*

# Artifacts
.artifact/cache
.artifact/data

librplidar_sdk.a
**/sdk/output

# Previous build 
bin/

# Swig generated code
gen/gen_wrap.cxx
gen/gen.go