name: Deploy RPLiDAR Module to Registry

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}

on:
  workflow_dispatch:
  push:
  release:
    types: [released]

env:
  VERSION: ${{ github.ref_name }}

jobs:
  appimage:
    name: Deploy Module of RPLiDAR
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: [buildjet-8vcpu-ubuntu-2204]
            image: ghcr.io/viamrobotics/canon:amd64-cache
            platform: amd64
          - arch: [buildjet-2vcpu-ubuntu-2204-arm]
            image: ghcr.io/viamrobotics/canon:arm64-cache
            platform: arm64
    runs-on: ${{ matrix.arch }}
    container:
      image: ${{ matrix.image }}
      options: --platform linux/${{ matrix.platform }}
    timeout-minutes: 30
    outputs:
      date: ${{ steps.build_date.outputs.date }}

    steps:
    - name: Check out code
      uses: actions/checkout@v3
      with:
        fetch-depth: 2

    - name: Clean and fix Permissions
      run: |
        chown testbot:testbot -R .
        sudo -Hu testbot bash -lc 'make clean'

    - name: Build appimage
      run: |
        apt-get -y install swig 
        sudo -Hu testbot bash -lc 'make BUILD_CHANNEL="${{ env.VERSION }}" appimage'

    - name: Bundle module
      run: |
        cp etc/packaging/appimages/deploy/rplidar-module-*.AppImage rplidar-module.AppImage
        tar czf module.tar.gz rplidar-module.AppImage

    - uses: actions/upload-artifact@v3
      with:
        name: appimage-${{ matrix.platform }}
        path: module.tar.gz
  
  upload:
    needs: appimage
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [amd64, arm64]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/download-artifact@v3
      with:
        name: appimage-${{ matrix.platform }}
    - id: stripped-version
      run: echo version=${VERSION#v} >> $GITHUB_OUTPUT
    - uses: viamrobotics/upload-module@main
      if: github.event_name == 'release' && !contains(github.ref_name, 'rc')
      with:
        platform: linux/${{ matrix.platform }}
        version: ${{ steps.stripped-version.outputs.version }}
        key-id: ${{ secrets.viam_key_id }}
        key-value: ${{ secrets.viam_key_value }}
  
