name: Build and Publish Latest

permissions:
  id-token: write
  contents: read

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths-ignore:
      - 'README.md'

# To test workflow updates you need to work in a branch directly on viam-modules/rplidar
# and tag your working branch instead of @main in any viam-modules/rplidar "uses" below.
# Don't forget to tag back to @main before merge.

jobs:
  appimage:
    uses: viam-modules/rplidar/.github/workflows/appimage.yml@main
    with:
      release_type: 'latest'
    secrets:
      GCP_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}

  slack-workflow-status:
    if: ${{ failure() }}
    name: Post Workflow Status To Slack
    needs:
      - appimage
    runs-on: ubuntu-latest
    permissions:
      actions: 'read'
    steps:
      - name: Slack Workflow Notification
        uses: Gamesight/slack-workflow-status@master
        with:
          repo_token: ${{secrets.GITHUB_TOKEN}}
          slack_webhook_url: ${{secrets.SLACK_WEBHOOK_URL}}
          channel: '#team-devops'
          name: 'Workflow Status'
