
name: Pull Request Update

permissions:
  id-token: write
  contents: read

concurrency: 
  group: pullrequest-${{ github.head_ref }}
  cancel-in-progress: true

on:
  pull_request_target:
    branches: [ 'main' ]
    types: [ 'labeled' ]

# To test workflow updates you need to work in a branch directly on viam-modules/rplidar
# and tag your working branch instead of @main in any viam-modules/rplidar "uses" below.
# Don't forget to tag back to @main before merge.

jobs:
  test:
    if: github.event.label.name == 'safe to test' || 
      contains(github.event.pull_request.labels.*.name, 'appimage') || 
      contains(github.event.pull_request.labels.*.name, 'appimage-ignore-tests')
    uses: viam-modules/rplidar/.github/workflows/test.yml@main

  # This lets people add an "appimage" tag to have appimages built for the PR
  appimage:
    needs: [test]
    if: |
      always() && !cancelled() && contains(github.event.pull_request.labels.*.name, 'safe to test') &&
      !contains(github.event.pull_request.labels.*.name, 'appimage-ignore-tests') &&
      contains(github.event.pull_request.labels.*.name, 'appimage') && needs.test.result == 'success'
    uses: viam-modules/rplidar/.github/workflows/appimage.yml@main
    with:
      release_type: 'pr'

  appimage-ignore-tests:
    if: |
       always() && !cancelled() && contains(github.event.pull_request.labels.*.name, 'safe to test') &&
       contains(github.event.pull_request.labels.*.name, 'appimage-ignore-tests')
    uses: viam-modules/rplidar/.github/workflows/appimage.yml@main
    with:
      release_type: 'pr'
